/************* Header *************/
.header-container {
  height: 40px;
  background-color: rgba(33, 31, 28, 0.679);
  padding: 10px 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;  
  z-index: 100; /* to ensure header stays above page content */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side h2{
  display: inline-block;
  margin: 0;
  color: #f7f1ed;
  padding-left: 5px;
  cursor: pointer;
}

.bread-font{
  font-size: 25px;
  color: #f7f1ed;
  cursor: pointer;
}

.bread-font:hover{
  animation: jiggle 0.5s ease-in-out;
}

/* custom animation */
@keyframes jiggle {
  0% { transform: rotate(0deg); }   /* start normal */
  25% { transform: rotate(15deg); } /* tilt clockwise */
  50% { transform: rotate(-15deg); }/* tilt counter clockwise */
  75% { transform: rotate(15deg); } /* tilt clockwise again */
  100% { transform: rotate(0deg); } /* back to normal */
}

.right-side{
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-side a {
  text-decoration: none;
  color: #f7f1ed;
  transition: 0.3s;
}

.right-side a:hover{
  color: #8f705c;
}

@media (max-width: 800px){
  .header-container{
    height: auto; /* grow based on content */
    flex-direction: column;
    align-items: center;
  }
  .right-side{
    white-space: nowrap;
    justify-content: center;
  }
  .left-side{
    padding-bottom: 15px;
  }
}

